.header {
    background-color: #46314d;
    width: 100vw;
    height: 10vw;
&--text {
    padding: 2em;
    justify-content: center;

}
}

div {
    color: rgb(12, 9, 37);
    font-size: larger;
    font-style: italic;
    text-align: center;
    
}